body {
    background-color: #e8dad2;
    color: #5a463b;
    font-family: "Urbanist", sans-serif;
}

header {
    background-color: #9f9595;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav {
    text-align: right;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}
  
nav ul li a:hover {
    color: #000;
    background-color: #ccc;
}

h1 {
    font-size: 70px;
    font-weight: inherit;
    color: #434040;
    text-align: right;
    margin-top: 20px;
}

h2 {
    font-size: 28px;
    font-weight: inherit;
    color: #434040;
}

.circular-image {
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 20%;
    transform: translateX(-50%);
}

section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}

.experience-grid {
    display: flex;
    flex-wrap: wrap;
}
  
.experience-item {
    flex-basis: calc(100% - 20px);
    border: 5px solid #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

.skills-item {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

#projects li a {
font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.container {
    width: 100%;
    overflow-x: auto;
}

form.message-form {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}
  
form.message-form .form-row {
    grid-column: 1 / -1;
}
  
form.message-form label {
    font-size: 15px;
    color: #403030;
}

form.message-form input[type="text"],
form.message-form input[type="email"],
form.message-form textarea {
    font-size: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 30%;
}
  
form.message-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #372d2d;
    border: double;
    color: #e6dcdc;
    cursor: pointer;
    width: 150px;
}

#messageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.message {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.message-content {
    display: inline-block;
    vertical-align: top;
}
  
.message-buttons {
    display: inline-block;
    margin-left: 10px;
}
  
.remove-button {
    background-color: #484343;
    color: rgb(206, 186, 186);
    border: double;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
  
.remove-button:hover {
    opacity: 0.8;
}

footer {
    padding: 1px;
    background-color: #9f9595;
}

/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
   .circular-image {
        width: 80px;
        height: 80px;
        top: 40px;
        left: 20%;
    }
    nav {
        text-align: right;
        font-size: 10px;
    }
    .skills-item {
        font-size: 12px;
        padding: 5px;
    }
    .container{
        font-size: 10px;
    }
    form.message-form input[type="text"],
    form.message-form input[type="email"],
    form.message-form textarea {
    width: 50%;
}
}
/* Styles for tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 26px;
    }
    .circular-image {
        width: 120px;
        height: 120px;
    }
}

/* Styles for desktop devices */
@media only screen and (min-width: 1025px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 28px;
    }
}